<template>
  <div
    id="carouselExampleIndicators"
    class="carousel slide mt-4"
    data-ride="carousel"
  >
    <ol class="carousel-indicators px-2">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="d-block w-100"
          src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly9hcGktZXNob3AubGFzc2FuYS5oay9hcGkvYXR0YWNobWVudHMvNjJmOWUwZjZmOTU2YTgwMDFmMzc2NGNlLmV4bGFyZ2Uud2VicA~~?b=tODgCR3K&k=qsNf70YJMzalgm9oof36ffAMDXNFWOoSqMuhBXFZYwc~"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly9hcGktZXNob3AubGFzc2FuYS5oay9hcGkvYXR0YWNobWVudHMvNjJhMTlmYTI5Y2E4ODYwMDFmZmIxZjI0LmV4bGFyZ2Uud2VicA~~?b=tODgCR3K&k=OlPI9s5-dfe_XWKJd_eeWRCe5MgnKwKCGgk_hyvD_C4~"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly9hcGktZXNob3AubGFzc2FuYS5oay9hcGkvYXR0YWNobWVudHMvNjJhMTllOTc5Y2E4ODYwMDFmZmIxZWQ5LmV4bGFyZ2Uud2VicA~~?b=tODgCR3K&k=X4KUgUei2ZiK2zszG8fy9tK7jpklCn8erNWfadqi3Dw~"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly9hcGktZXNob3AubGFzc2FuYS5oay9hcGkvYXR0YWNobWVudHMvNjI2YjdlOTViNDAzN2YwMDFmYzE1NzEwLmV4bGFyZ2Uud2VicA~~?b=tODgCR3K&k=Szk9EbQEFT5w5fzQRdu-e_4imOKsppo9BAdztdfJZ6Q~"
        />
      </div>
      <div class="carousel-item">
        <img
          class="d-block w-100"
          src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly9hcGktZXNob3AubGFzc2FuYS5oay9hcGkvYXR0YWNobWVudHMvNjI0ZTdjZTc5ZGRjNmYwMDFmOWJiNjNkLmV4bGFyZ2Uud2VicA~~?b=tODgCR3K&k=bvEzi49mHFX5QgkJ-U5hReSv4HjOl2hTlDTyxTWB4uE~"
        />
      </div>
    </div>
  </div>
</template>

<script>
</script>

<style>
.carousel-indicators > li {
  font-size: 70px;
  margin: 1rem;
  top: 4rem;
  cursor: pointer;
}

.active {
  color: var(--v-gold-base);
}
</style>