<template>

<div class="bg-[#f1d04b] border border-[#f1d04b] rounded cursor-pointer w-fit py-3 px-5 text-white">
    <span class="font-semibold">{{buttonMsg}}</span>

</div>
</template>


<script>
export default {
  name: "button",
  props: {
    buttonMsg: String
  }
};
</script>

<style>
</style>
