<template>
  <h1 class="font-semibold text-3xl mb-2">{{ header }}</h1>

  <p class="text-justify">{{content1}}</p>
  <br>
  <p class="text-justify">{{content2}}</p>
  <br>
  <p class="text-justify">{{content3}}</p>
</template>

<script>
export default {
  name: "CoffeeDescription",
  props: {
    header: String,
    content1: String,
    content2: String,
    content3: String,
  },
};
</script>