<template>
  <div class="flex justify-center xl:hidden">
    <img
      src="https://www.lassana.hk/_nuxt/img/image%202.6a12afc.png"
      class="w-80 h-80"
    />
  </div>

  <div class="grid xl:grid-cols-5 gap-4">
    <div class="col-span-3">
      <div class="text-3xl my-4 font-semibold">
        Coffee Shop at the Heart of Hong Kong
      </div>

      <p class="text-justify my-2">
        Wondering where to get your daily dose of coffee in Hong Kong? Stop by
        one of Lassana’s coffee shops in Hong Kong and Kowloon, which are
        conveniently located across the central business districts in Central,
        Causeway Bay, Kowloon Bay, Kwun Tong and more.
      </p>

      <p class="text-justify my-2">
        Established in 2012, Lassana is a local Hong Kong brand that specializes
        in coffee, cakes, pastries and salads. Drawing inspiration from the
        latest trends in coffee in Hong Kong and combining that with our
        expertise in fresh bakery, we are here to provide excellent food and
        exceptional culinary experience that inspire you every day.
      </p>
    </div>

    <div class="col-span-2 hidden justify-end xl:flex">
      <img
        src="https://www.lassana.hk/_nuxt/img/image%202.6a12afc.png"
        class="w-80 h-80"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "introduction",
};
</script>
