<template>
  <div>
    <div>
      <img :src="src" class="w-64 h-80" />

      <div
        :class="{
          'black-bg': bg === 'black',
          'yellow-bg': bg === 'yellow',
          'green-bg': bg === 'green',
        }"
        class="msg-box"
      >
        {{ photoMsg }}
      </div>
    </div>

    <div class="mt-8 text-justify" :innerHTML="des"></div>
  </div>
</template>


<script>
export default {
  name: "PhotoDescription",
  props: {
    src: String,
    photoMsg: String,
    bg: String,
    des: String,
  },
};
</script>

<style>
.msg-box {
  width: 178px;
  height: 190px;
  border-radius: 1rem;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 500;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 10rem;
  left: 8rem;
  padding: 0.5rem;
  color: white;
}

.black-bg {
  background: black;
}

.yellow-bg {
  background: var(--v-gold-base);
}

.green-bg {
  background: #5d7a59;
}

li::before {
  content: " • ";
}
</style>