

<template>
  <div class="px-4 xl:px-48">
    <Banner />

    <Introduction />

    <div class="grid xl:grid-cols-3 gap-8 mt-8">
      <PhotoDescription
        src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly93d3cubGFzc2FuYS5oay9fbnV4dC9pbWcvUmVjdGFuZ2xlJTIwMS40Njg5ODg4LnBuZw~~?b=tODgCR3K&k=0ZmDXRxr4V8c3Tz4ObYrRymbec0fVZmo5sspl0onYUM~"
        photoMsg="Our Coffee"
        bg="black"
        des="Using some of the finest beans from Brazil, Guatemala and El Salvador, we strive to craft the freshest cup of coffee here in Hong Kong with our unique house blend. Whether you are a coffee purist who drinks your coffee black, or a sweet-toothed adventurer who is open to festive brews, Lassana is the answer for your daily cure."
      />

      <PhotoDescription
        src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly93d3cubGFzc2FuYS5oay9fbnV4dC9pbWcvUmVjdGFuZ2xlJTIwMi42OGNmZDg2LnBuZw~~?b=tODgCR3K&k=DrocGPtpUsKurF1qQzPyHAn1Eqd5JQhQA_OcPShApqs~"
        photoMsg="Our Pastry and Cakes"
        bg="yellow"
        des="Are you craving classic croissants, traditional tiramisu or durian cheesecake? Drop by one of our coffee shops across Hong Kong and we will take care of the rest. We promise you’re getting just the good stuff like you would at home - no additives, preservatives or artificial flavours.
        <br>
        <ul>
        <li>Matcha Chocolate Tree Cake</li>
        <li>Strawberry Mousse Cake</li>
        <li>Strawberry Mousse Cake</li>
        <li>Creme Brulee Cheesecake</li>
        <li>Lemon Tart</li>
        <li>Chestnut Cream Cake</li>
        </ul>"
      />

      <PhotoDescription
        src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly93d3cubGFzc2FuYS5oay9fbnV4dC9pbWcvUmVjdGFuZ2xlJTIwMy45ZDJiOTg4LnBuZw~~?b=tODgCR3K&k=fGeT_s93wSWsjUjBd5rDh-PkOhwrKvJ-WMeDDcoyl4o~"
        photoMsg="Our Food"
        bg="green"
        des="Our founders are the original foodies and coffeeholics. At Lassana, you will be spoiled with numerous choices of fresh pies and croissants, refreshing frozen dessert, rich and creamy ice-cream and creative and convenient light meals. Prepared and packaged in our central kitchen, you can rest assured that all our foods and drinks are created with quality ingredients.
        <br>
        <ul>
        <li>Carbonara</li>
        <li>Carbonara</li>
        <li>Chicken spaghetti with pesto sauce</li>
        <li>Smoked salmon spaghetti with tomato cream sauce</li>
        <li>Black truffle mixed mushroom pasta</li>
        </ul>
        Visit our branches and online store now to find out which is your favourite coffee and pastry!
        "
      />
    </div>

    <CoffeeDescription
      header="Whole Bean & Drip Bag Coffee"
      content1="Catering to the needs of busy Hong Kongers, we have created our drip bag coffee sets as a limited-time collaboration with Yat Chun Choy, a local watercolor painter. You can now savour single origin coffee from Wahana, Mandheling and Yirgacheffe while enjoying the delicate and refreshing drawings of flowers by Yat Chun. Order yours while supplies last!"
      content2="We also offer high-quality, freshly roasted coffee beans for those of you who enjoy brewing your own pour-over coffee - starting from scratch with a grinder, water boiler and filter."
      content3="Package is also available for corporate clients. Please contact us for more details."
    />
    <br />
    <CoffeeDescription
      header="Cold Brew Coffee"
      content1="If you want to add a bit of a twist to your usual coffee routine, you have to try our cold brew coffee made here in Hong Kong from 100% arabica coffee. Apart from the original version, we also have sparkling and gingerbread flavoured cold brew, taking your cold brew game to the next level. You can also spice it up by serving it with your favourite ice cream, prolonging the pleasure of your cold brew affogato."
    />

    <div class="grid grid-cols-1 gap-4 mb-8">
      <h1 class="text-3xl font-semibold">Contact Us</h1>

      <p>
        Visit our branches and online store now to find out which is your
        favourite coffee and pastry!
      </p>

      <Button buttonMsg="Our Store" />

      <p>
        For Further Information About Lassana Service including Coffee and Fresh
        Bakery
      </p>

      <Button buttonMsg="Contact Us" />
    </div>
  </div>
</template>

<script setup>
import Introduction from "../components/homePageContent/introduction.vue";
import PhotoDescription from "../components/homePageContent/photoDescription.vue";
import CoffeeDescription from "../components/homePageContent/coffeeDescription.vue";
import Button from "../components/homePageContent/button.vue";
import Banner from "../components/homePageContent/banner.vue";
</script>

