<template>
  <div class="bg-black text-white py-16">
    <div class="px-4 xl:px-48">
      <div class="grid xl:grid-cols-3 gap-4">
        <div class="text-center">
          <p class="text-xl font-semibold">Want To Know Lassana Better?</p>

          <div class="flex justify-center">
            <img
              class="media-logo"
              src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly93d3cubGFzc2FuYS5oay9fbnV4dC9pbWcvMDAxLWZhY2Vib29rJTIwMS4zYWZiOWMxLnBuZw~~?b=tODgCR3K&k=-XLfpCE1Y8_2yWT6XbLsgl_A8wbH5eIiqs_5aARRT78~"
            />
            <img
              class="media-logo"
              src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly93d3cubGFzc2FuYS5oay9fbnV4dC9pbWcvMDAyLWluc3RhZ3JhbSUyMDEuN2ZkNzJjMi5wbmc~?b=tODgCR3K&k=1IWSqGqrT9JgXlt08FteN4XYyoYVwseIqUW-0hxz528~"
            />

            <div>
              <div class="bg-white border rounded-full media-logo">
                <img
                  class="p-1"
                  src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly93d3cubGFzc2FuYS5oay9fbnV4dC9pbWcvd2hhdHNhcHAuZmRkNGI3MC01MTIucG5n?b=tODgCR3K&k=WP5EEMwBJmDDVmHU976c9ERDtS-nc9tsLxWW86DQxIc~"
                />
              </div>
            </div>
          </div>

          <p>
            Customer Service:<span class="text-[#37474f] cursor-pointer"
              >6393 0906</span
            >
          </p>
        </div>

        <div class="hidden xl:items-end justify-center xl:flex">© LASSANA Limited</div>

        <div class="flex justify-center">
          <img
            src="https://ap-east-1-02880055-view.menlosecurity.com/c/0/i/aHR0cHM6Ly93d3cubGFzc2FuYS5oay9fbnV4dC9pbWcvbGFzc2FuYSUyMDMuMDFjMmYyOS5wbmc~"
            class="w-40 h-40"
          />
        </div>

        <div class="block xl:hidden justify-center flex">© LASSANA Limited</div>

      </div>
    </div>
  </div>
</template>

<style>
.media-logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: white;
  margin: 2rem 1rem;
}
</style>