<script setup>
import homePageHeader from "./components/homePageHeader.vue";
import homePageContent from "./components/homePageContent.vue";
import homePageFooter from "./components/homePageFooter.vue";

// import TheWelcome from './components/TheWelcome.vue'
</script>

<template>
  <div class="fixed right-20 bottom-12 z-[100] cursor-pointer">
    <div class="bg-[#f1d04b] rounded-full w-16 h-16">
      <img src="src/components/icons/cart.png" class="w-16 h-16 p-2" />
    </div>
  </div>

  <homePageHeader />

  <homePageContent />

  <homePageFooter />
</template>


